.main .accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: background-color .25s, border .5s;

}

.main.active .accordion{
    border: 1px solid #131515;
}

.main .accordion.open,
.main .accordion:hover {
    background-color: #55569E;
    border-color: #55569E;
}


.main.active .accordion.open,
.main.active .accordion:hover {
    background-color: #4ba3c3;
    border-color: #4ba3c3;
}


.main .accordion .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
    transition: color .5s;

}

.main.active .accordion .trigger {
    color: #131515;

}


.accordion .trigger h2{
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}

.accordion .trigger:hover {
    cursor: pointer;
}

.main .accordion .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/arrow-top.svg');
    transition: filter .5s, transform .25s;
}

.main.active .accordion .trigger::after{
    filter: invert(1);
}

.accordion.open .trigger::after {
    transform: rotate(180deg);
}

.accordion .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;

}

.accordion.open .content {
    display: inline-block;
    padding: 0 1rem 1rem 2rem ;
    height: auto;
    opacity: 1;
}
