* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}


.body {
    color: #fff;
    background: linear-gradient(to bottom right, #131515, #2f2f2f, #55569E) fixed;
    transition: background-color .5s, color .5s;
}
.body.active{
    color: #131515;
    background: linear-gradient(to bottom right, #87cefa, #ffffff, #f8ed84) fixed;
}


.theme-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    align-items: center;
    width: 3.75rem;
    height:2rem;
    background-color: #fff;
    border-radius: 2rem;
    transition: background-color .5s;
}

.theme-toggle .fa-sun {
    display: none;
    color: #55569E; 
}

.theme-toggle .fa-moon {
    color: #4ba3c3; 
}

.body.active .theme-toggle .fa-sun {
    display: none;
}

.body.active .theme-toggle .fa-moon {
    display: inline-block;
}

.body:not(.active) .theme-toggle .fa-sun {
    display: inline-block;
}

.body:not(.active) .theme-toggle .fa-moon {
    display: none;
}

.theme-toggle.active {
    background-color: #131515;
}

main{
    position: relative;
}
.main a {
    color: #fff;
    text-decoration: none;
    transition: color .5s;
}

.main.active a {
    color: #131515;
}

.main a:hover{
    text-decoration: underline;
}

.main {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: border .5s;

}

.main.active{
    border: 1px solid #131515;
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }


}
